*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
html,body{
    overflow-x: hidden;

}
.--not-scrool{
    overflow: hidden;
}
.--scrool{
    overflow: scroll;
}
.--center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: 50%;
    transform: translate(-50%, -50%);
}
.section-title{
    padding: 2em 0;
    color: white;
    font-size: calc(4vh + 1vw);
}
header{
    box-shadow: 0 0 3.5vh black;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    padding-left:5vh ;
    padding-right: 2.5vh ;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, #010407, #181f42, #631f64, #b80056, #eb1212);
    box-shadow: 0 0 3.5hv #D5DBDB ;

}
nav h1{
    letter-spacing: 3px;
    font-size: calc(3.5vh + .7vw);
    color: white;
    display: block;
    width: 20%;
}
.menu-toggler{
    height: 5vh;
}
.link-sizer{
    display: none;
}
.nav-links{
    display: none ;
}
.supercont-of-slider{
    position: relative;
    width: 100vw;
    height: 100vh;


}
.cont-of-slider{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider{
    width: 400%;
    height: 100%;
    display: flex;
    transition: .3s;
}
.slider-screen{
    background-image: url(../Img/background2.jpg)  ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    position: relative;
}
.slider-screen:nth-child(2){
    background-image:url(../Img/eric-removebg-preview.png) ;
    background-position: 45% 40%;
}
.slider-screen:nth-child(3){
    background-image: url();
    background-position: 50% 0%;

}
.caption{
    height: 40%;
    max-width: 75%;
    text-align: center;
    top: 55%;
    padding: 3%;
    align-items: center;
    background-image: linear-gradient(to left, #1d81e5, #9466d9, #d536ac, #f40068, #eb1212);
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(black);
}
.caption h1 {
    padding: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7vh;
    font-weight: 300;
    word-spacing: .5vh;
    line-height: 2em;
    text-shadow: 0 5px 10px, #1D81E5;
}
.arrow--down{
    position: absolute;
    top: 85%;
    left: 50%;
    height: 5vh;
    width: 5vh;
    transform: translateX(-50%) rotate(45deg);
    border-right: 5px solid #1D81E5;
    border-bottom: 5px solid rgb(240,230, 240);
}
.article-about{
    position: relative;
    width: 100vw;
    height: fit-content;
    padding: 4em 1em;
    background-image: linear-gradient(to left bottom, #e0e0e0, #e4e3e6, #e9e6eb, #efe9f0, #f6ecf4);
    display: flex;

}
.about-context{
    width: 85%;
    margin: auto;

}
.about-context h1 {
    font-size: calc(4vh +1vh);
    margin: 1.2em;
    text-align: center;
    line-height: 1.4em;
}
.about-context p{
    margin-bottom: 1.5em;
    text-indent: 1em;
    line-height: 1.4em;
    font-size: 3vh;
    text-align: left;
}
.about-context h4{
    position: relative;
    left: 100%;
    text-align: right;
    font-size: 3.4vh;
}
main{
    height: fit-content;
    width: 100vw;
    padding-bottom: 10vh;
    background: url(../Img/cohete-removebg-preview.png)no-repeat ;
    background-blend-mode: overlay;
    background-color: rgb(red, green, blue);
    background-size: cover ;
    color: #2e87e1;

}
section{
    display: block;
    height: fit-content ;
    width: 100vw;
}
footer{
    bottom: 0;
    width: 100vw;
    padding: 10vh 0;
    background-color: black;
}
.cont-of-socialm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 3%;

}
.socialm{
    height: 30%;
    width: 20%;
    padding: 5% 0;
    margin: 3vw;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
}
.iconos{
    height: calc(10vh +5vw);

}
#Whatsapp{
    background-image: linear-gradient(to left top, #00ff6e, #00ffe9, #17feff, #c9f3ff, #f4f4f4);
    border-radius: 15px;
}
/*Super-small devices*/
@media only screen and (min-width: 425px){
    .gallery{
        grid-template-columns: repeat(3 ,1fr);
        grid-auto-rows: .4fr;
        grid-template-areas: 'two two fou'
        'one fiv fou '
        'one tre fou '
        'one six six ';
    }
    .socialm{
        width: 35%;
    }
    .card{
        width: 85%;
        max-width: 270px;
        padding: 4vh 1.5vw;
        padding-bottom: 3vh;
    }
    .card>p{
        margin: 3vh 15%;
        max-width: 70%;
    }
}
/*small device*/
@media only screen and (min-width: 600px){
.cont-of-card{
    height: 90%;

}
    
    
    .card{
        width: 85%;
        max-width: 270px;
        padding: 4vh 1.5vw;
        padding-bottom: 3vh;
    }
    
}
/*Tablets*/
@media  only screen and (min-width:760px){
    .socialm{
        margin: 5vh;
        
    }
    .gallery{
        grid-template-columns: repeat(3 ,1fr);
        grid-auto-rows: .4fr;
        grid-template-areas: 'two two two fou'
        'one fiv tre fou '
        'one six six  six';
        overflow: hidden;
    }
    .cont-of-card{
        width: 90%;

    }
    .card{
        width: 45%;
        max-width: 350px;
    }
    #card--last{
        display: flex;
    }

}

